* {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body {
    text-align: center;
    transition: background-color 0.3s ease;
}
body.light-theme {
    background-color: #ffffff;
    color: #000000;
}
body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

h1.header {
    font-size: 80px;
    margin-bottom: 10px;
}
h4.header {
    font-size: 25px;
    margin-top: 15px;
}

#inputSearch {
    border-radius: 20px 0 0 20px;
    margin-right: -2px;
    font-size: 30px;
    padding: 10px;
    overflow: hidden;
    transition: background-color 0.3s ease;
    outline: none;
}
body.light-theme label input#inputSearch {
    border: #575757 solid 3px;
    border-right: 0;
    background-color: #fdfdfd;
    color: black;
}
body.dark-theme label input#inputSearch {
    border: #a8a8a8 solid 3px;
    border-right: 0;
    background-color: #020202;
    color: white;
}

.searchButton {
    border-radius: 0 20px 20px 0;
    margin-left: -3px;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
}
body.light-theme label button.searchButton {
    border: #575757 solid 3px;
    border-left: 0;
    background-color: #f5f5f5;
    color: black;
}
body.light-theme label button.searchButton:hover {
    background-color: #e0e0e0;
}
body.light-theme label button.searchButton:active {
    background-color: #adadad;
}
body.dark-theme label button.searchButton {
    border: #a8a8a8 solid 3px;
    background-color: #282828;
    border-left: 0;
    color: white;
}
body.dark-theme label button.searchButton:hover {
    background-color: #3d3d3d;
}
body.dark-theme label button.searchButton:active {
    background-color: #4f4f4f;
}

#searchContent {
    display: grid;
    justify-items: center;
}
.imageBlock {
    display: grid;
    justify-items: center;
}
.infImage {
    margin-bottom: 15px;
}
.infVideo {
    margin-bottom: 15px;
}
.nothing {
    margin: 50px;
    font-size: 25px;
}

.block {
    padding: 15px;
    margin-top: 45px;
    width: 700px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}
body.light-theme div#searchContent div.block {
    background-color: #e5e5e5;
}
body.dark-theme div#searchContent div.block {
    background-color: #252525;
}

.desc {
    font-size: 20px;
}
div.themeChanger {
    position: relative;
}
button.themeChanger {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -45px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: solid 0;
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

body.light-theme div div.themeChanger button.themeChanger {
    background-color: #d2d2d2;
}
body.dark-theme div div.themeChanger button.themeChanger {
    background-color: #343434;
}
body.light-theme div div.themeChanger button.themeChanger:hover {
    background-color: #b4b4b4;
}
body.dark-theme div div.themeChanger button.themeChanger:hover {
    background-color: #4b4b4b;
}
.video-container {
    position: relative;
    width: 600px;
    height: 407px;
    display: inline-flex;
    align-items: center;
}

#videoPreview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

video {
    width: 600px;
    height: auto;
    position: absolute;
    z-index: 1;
}

div#count {
    margin-top: 10px;
    margin-bottom: -40px;
    font-size: 25px;
}